@(generos: List[Genero])

@main("Generos") {
    <h1>Generos</h1>
    <table class="table striped">
        <tr><td>Id</td><td>Nome</td></tr>

        @for(genero <- generos) {
        <tr><td>@genero.getId()</td><td>@genero.getNome()</td></tr>
        }

    </table>
}